/* Custom Dropdown Styles */
.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--input-text);
  height: 46px;
  line-height: 46px;
  background: transparent;
  cursor: pointer;
  border-radius: 13px;
}

.custom-select-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--bg);
  box-shadow: var(--shadow-out);
  border-radius: var(--radius-md);
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  transform: translateY(-15px);
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 5px;
}

.custom-select.open .custom-select-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.custom-option {
  position: relative;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-muted);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.custom-option:hover {
  background: var(--bg);
  box-shadow: var(--shadow-in);
  color: var(--accent);
}

.custom-option.selected {
  color: var(--input-text);
  background: var(--bg);
  box-shadow: var(--shadow-in);
}

.arrow {
  position: relative;
  height: 10px;
  width: 10px;
}

.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.3s ease;
}

.arrow::before {
  left: -3px;
  transform: rotate(-45deg);
  background-color: var(--text-muted);
}

.arrow::after {
  left: 3px;
  transform: rotate(45deg);
  background-color: var(--text-muted);
}

.open .arrow::before {
  left: -3px;
  transform: rotate(45deg);
}

.open .arrow::after {
  left: 3px;
  transform: rotate(-45deg);
}
